:root {
    /* FOR BRIGHT MODE */
    --bg-color: #ffffff;
    --nav-text-color: #111;
    --text-family: Calibri;
    --brand-color-1: #F2AE26;
    --brand-color-2: #1FA499;
    --footer-bg-color: #353535;
    --footer-text-color: #CDCDCD;
}

body.dark {
     /* FOR DARK MODE */
    --bg-color: #111111;
    --nav-text-color: #fff;
    --brand-color-2: #F2AE26;
    --brand-color-1: #1FA499;

    transition: 0.5s;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, a {
    font-family: var(--text-family);
    font-weight: 400;
    flex-wrap: wrap;
    color: var(--bg-color);
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
p {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url('../images/school.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    width: 60%;
    height: 100vh;
    padding: 15px 0 0 50px;
    position: relative;
    background: rgba(0, 0, 0, 0.54);
}

.left h3, .left h1 span {
    color: var(--brand-color-1);
}
 
.left h3 span, .left h1, form h3 {
    color: var(--brand-color-2);
}
 
.left h2 {
    margin-top: 250px;
}

.more, form .form-btn {
    width: 150px;
    height: 50px;
    border-radius: 33px;
    background: var(--brand-color-2);
    border: none;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0px 100px 1px var(--brand-color-2);
}

.left div {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.left div .fa-circle-play {
    margin-left: 50px;
    color: var(--bg-color);
}

.left h3, .fa-circle-play {
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 40%;
    height: 100vh;
    background: var(--bg-color);
}

form {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid var(--footer-bg-color);
}

form input:focus {
    outline: none;
}

form .form-btn {
    width: 90%;
    height: 30px;
    border-radius: 25px;
    box-shadow: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
}

form p, form a {
    color: var(--nav-text-color);
    margin-top: 10px;
}